header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-items: center;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid black;
  background-color: white;

}
.logo {
  display: flex;
  flex-grow: 1;
  padding-left: 30px;
}
nav span{
  display: inline-block;
  font-family: Verdana;
  align-items: right;
  font-weight: bold;
  color: black;
  padding-right: 40px;
}

.container {
  display: flex;
  position: relative;
  top:30px;
}
.column.large {
  width: 630px;
  display: flex;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto;

}

h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: flex;



}
h3 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
}
h2 {
  display: flex;
}
h5 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
}

h6 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;

}

.column.medium {
  width: 300px;
  display: flex;
  border: 1px solid black;
  text-align: center;

}

.column.small {
  width: 240px;
  display: flex;
  border: 1px solid black;
  text-align: center;
}

.stories {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: flex;
  text-align: center;
  padding-right: 100px;
  padding-top: 300px;
  margin: 0 auto;

}
img {
  display: inline-flex;
}

.lead.story {
  display: flex;
  align-items: center;
  padding-bottom: 500px;
  margin: 0 auto;
}
