header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  width: 100%;
  text-align: center;
}
.logo {
  display: flex;
}
nav span{
  display: inline-block;
  font-family: Verdana;
  text-align: right;
  font-weight: bold;
  color: black;
}
